a {
  text-decoration: none;
}

.blog-container {
  background-color: rgb(237, 33, 15);
  padding: 2px 2px 2px 2px;
  display: flex;
  height: 557px
}

.main-blog {
  background-color: rgb(116, 175, 180);
  margin-right: 5px; /* Add some space between main-blog and blog-grid */
  width: 65%;
}

.main-blog img {
  width: 100%;
}

.blog-container h1, .blog-container p {
  color: black;
}

.highlight-text-mb p {
  max-width: 100%;
  overflow-wrap: break-word;
}

.blog-aside {
  background-color: rgb(209, 217, 103);
  width: 35%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.first-quarter {
  position: relative;
  background-color: rgb(74, 157, 201);
  width: 50%;
  height: 50%;
  padding: 3px;
  /* margin: 2px; */
}

.second-quarter {
  background-color: rgb(39, 41, 65);
  width: 50%;
  height: 50%;
  padding: 3px;
  /* margin: 2px; */
}

.third-quarter {
  background-color: rgb(84, 95, 87);
  width: 50%;
  height: 50%;
  padding: 3px;
  /* margin: 2px; */
}

.fourth-quarter {
  background-color: rgb(236, 240, 237);
  width: 50%;
  height: 50%;
  padding: 3px;
  /* margin: 2px; */
}

.first-quarter img {
  width: 100%;
}

.second-quarter img {
  width: 100%;
}

.third-quarter img {
  width: 100%;
}

.fourth-quarter img {
  width: 100%;
}



/* .highlight-text {
  position: relative;
} */

.highlight-text h1 {
  position: absolute;
  bottom: 3;
  right: 3;
  margin: 3;
  padding: 3;
}

.highlight-text p {
  position: absolute;
  bottom: 1;
  right: 1;
  margin: 1;
  padding: 1;
}

.highlight-text h1 {
  font-size: 20px;
}

.highlight-text p {
  font-size: 14px;
}
