<div class="blog-container">
  <div class="main-blog">
    <a href="mainBlogSection.link">
      <img src="../../assets/angular17.webp" alt="angular17" loading="lazy">
      <div class="highlight-text-mb">
        <h1>{{mainBlogSection.blogTitle}}</h1>
        <p>{{mainBlogSection.blogIntro}}</p>
      </div>
    </a>
  </div>
  <div class="blog-aside">
    <div class="blog-aside-top">
      <div class="first-quarter">
        <img src="../../assets/dockersl.png" alt="docker" loading="lazy">
        <a href={{docker.blogLink}}>
          <div class="highlight-text">
            <h1>{{docker.blogTitle}}</h1>
            <p>{{docker.blogIntro}}</p>
          </div>
        </a>
      </div>
      <div class="second-quarter">
        <a href="githubprofile.blogLink">
          <img src="../../assets/github-prof.png" alt="github" loading="lazy">
          <div class="highlight-text">
            <h1>{{githubprofile.blogTitle}}</h1>
            <p>{{githubprofile.blogIntro}}<br>
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="blog-aside-bottom">
      <div class="third-quarter">
        <a href="uiElements.blogLink">
          <img src="../../assets/uxui-design.png" alt="uxdesign" loading="lazy">
          <div class="highlight-text">
            <h1>{{uiElements.blogTitle}}</h1>
            <p>{{uiElements.blogIntro}}<br>
            </p>
          </div>
        </a>
      </div>
      <div class="fourth-quarter">
        <a href="codetoimprove.blogLink">
          <img src="../../assets/codeToInprove-0.png" alt="improvements" loading="lazy">
          <div class="highlight-text">
            <h1>{{codetoimprove.blogTitle}}</h1>
            <p>{{codetoimprove.blogIntro}}<br>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="">

  </div>
</div>
