a {
  text-decoration: none;
}

.blog-container {
  background-color: rgb(237, 33, 15);
  padding: 2px 2px 2px 2px;
  display: flex;
  height: 557px
}

.main-blog {
  background-color: rgb(116, 175, 180);
  margin-right: 5px; /* Add some space between main-blog and blog-grid */
  width: 65%;
  position: relative;
}

.main-blog img {
  width: 100%;
}

.blog-container h1, .blog-container p {
  color: black;
}

.highlight-text-mb {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-40%, -40%);
  background-color: rgba(180, 98, 98, 0.7); /* cor de fundo com opacidade */
  padding: 20px;
  text-align: left;
}

.highlight-text-mb p {
  max-width: 100%;
  overflow-wrap: break-word;
}

.blog-aside {
  background-color: rgb(209, 217, 103);
  width: 35%;
}

.blog-aside-top {
  background-color: rgb(120, 217, 103);
  display: flex;
  width: 100%;
  height: 50%;
}

.blog-aside-bottom {
  background-color: rgb(217, 211, 103);
  display: flex;
  width: 100%;
  height: 50%;
}

.first-quarter {
  background-color: rgb(74, 157, 201);
  width: 50%;
  display: flex;
  flex-direction: column;
  /* margin: 2px; */
}

.first-quarter img {
  width: 70%;
  height: 70%;
  align-self: center;
}


.second-quarter {
  background-color: rgb(39, 41, 65);
  width: 50%;
  /* margin: 2px; */
}

.second-quarter img {
  width: 100%;
  height: 70%;
  align-self: center;
}

.third-quarter {
  background-color: rgb(84, 95, 87);
  width: 50%;
  position: relative
  /* margin: 2px; */
}
.third-quarter img {
  width: 100%;
  height: 70%;
  align-self: center
}

.fourth-quarter {
  background-color: rgb(236, 240, 237);
  width: 50%
  /* margin: 2px; */
}

.fourth-quarter img {
  width: 100%;
  height: 70%;
  align-self: center
}

.highlight-text {
  height: 30%;
}

.highlight-text h1 {
  font-size: 25px;
}

.highlight-text p {
  font-size: 14px;
}

/* .highlight-text {
  position: relative;
} */
/*
.highlight-text h1 {
  position: absolute;
  bottom: 3;
  right: 3;
  margin: 3;
  padding: 3;
}

.highlight-text p {
  position: absolute;
  bottom: 1;
  right: 1;
  margin: 1;
  padding: 1;
}

.highlight-text h1 {
  font-size: 20px;
}

.highlight-text p {
  font-size: 14px;
} */
