<main>
  <header class="main-header">
    <div class="top-header">
      <a href="https://twitter.com/Rafereact" class="social-link">Twitter</a>
      <a href="#" class="social-link">Instagram</a>
      <a href="#" class="social-link">Youtube</a>
      <a href="https://www.linkedin.com/in/rafael-passos-barbosa/" class="social-link">Linkedin</a>
      <a href="https://github.com/rafacoper" class="social-link">Github</a>
    </div>
    <div class="horizontal-divider"></div>
    <div class="bottom-header">
      <div class="logo-section">
        <img src="../assets/react-steps-high-resolution-logo-transparent.png" alt="Logo">
      </div>
      <div class="header-title">
        <h1>React with Steps</h1>
      </div>
      <div class="nav-pages">
        <div class="blog-link">
          <a href="#">Blog</a>
        </div>
        <div class="tech-link">
          <a href="#">Tecnologia</a>
        </div>
        <div class="services-link">
          <a href="#">Serviços</a>
        </div>
        <div class="contact-link">
          <a href="#">Contato</a>
        </div>
      </div>
    </div>
  </header>
</main>


<router-outlet></router-outlet>
