<main>
  <header>
    <div class="top-header">
      <a href="https://twitter.com/Rafereact" class="social-link">Twitter</a>
      <a href="#" class="social-link">Instagram</a>
      <a href="#" class="social-link">Youtube</a>
      <a href="https://www.linkedin.com/in/rafael-passos-barbosa/" class="social-link">Linkedin</a>
      <a href="https://github.com/rafacoper" class="social-link">Github</a>
    </div>
    <div class="bottom-header">
      <div class="logo-section">
        <img src="" alt="Logo">
      </div>
      <div class="header-title">
        <h1>Tecno Steps</h1>
      </div>
      <nav class="nav-pages">
        <a routerLink="/technology" class="nav-link">Tecnologia</a>
        <a routerLink="/blog" class="nav-link">Blog</a>
        <a routerLink="/portfolio" class="nav-link">Portfolio</a>
        <a routerLink="/contact" class="nav-link">Contato</a>
      </nav>
    </div>
  </header>
</main>
